*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}


nav {
  
    background-color: blue;
    display: flex;
    justify-content: space-around;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 2;
   
    
}

nav ul {
    list-style-type: none;
    display: flex;
}
nav ul li {
    padding: 5px 15px;
    transition: 0.3s ease;

}

nav ul li a {
    text-decoration: none;
    font-size: 16px;
    transition: 0.2s ease;
    color:white;
    font-family: sans-serif;
    font-weight: bold;

}

nav ul li:hover{
    background-color: rgb(69, 9, 250);
}

nav ul li a:hover {
    color: white;
}


/* hero */
.hero {

    display: flex;
    margin: 10px 10px;
    gap: 10px;
    margin-top: 50px;
    

  

}
.text, .image{
    flex: 1;

    padding: 100px 20px;

}
 .image {
    display: flex;
    flex: 1;
    padding: 10px;
    

 }

 img {
    max-width: 100%;
    margin: 0 auto;
    border: 2px solid blue;
 }

 @media (max-width:768px){
    .hero{
        flex-direction: column;
        margin-top: 250px;
    }

    ul {
        flex-direction: column;
        align-items: center;

    }

   
 }

 /*---A B O U T ----*/
 #about {
   
    padding: 10px;
   
    margin: 100px 10px;
    scroll-margin-top: 50px;
    

 }


 .text h1{
    margin-bottom: 10px;
 }
 .text h3{
    margin-bottom: 30px;
 }
 .text p{

    text-align: justify;
    text-indent: 100px;

 }

.top {
   
    padding: 10px 20px;
    text-align: center;
}

.top p{
    margin-top: 15px;
    text-align: justify;
    text-indent: 100px;
    margin-bottom: 20px;
}
.icones{
  
    padding: 5px;
    display: flex;
    gap: 10px;
    
}

.supor, .Cross, .Fast {
  
    flex: 1;
    text-align: center;
    padding: 30px 40px;
    max-width: 100%;
    margin: 0 auto;
}

.ico i {
    font-size: 70px;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 50%;
    background-color: bisque;
}

.icones h3 {
    font-size: 30px;
    font-variant: small-caps;

}

.icones p {
    text-align: justify;
    text-indent: 20px;
}

.learn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 200px;
    font-size: 25px;
    background-color: white;
    border-radius: 2%;
    border-color: #8e1efc;
     cursor: pointer;
}

.learn:hover{
    background-color: #8e1efc;
    color: white;
}
@media(max-width:768px) {
    .icones {
        flex-direction: column;
    }
    .text h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }

    .text h3 {
        margin-bottom:30px ;
        font-size: 20px;
    }
}

/* features */
#features{

    padding: 5px;
    
    margin: 0 10px;
    scroll-margin-top: 80px;
    
    
}

.textft{
   
    text-align: center;
    margin-top: 100px;
    margin-bottom: 30px;
    
  
}

.textft h1{
    font-size: 50px;
    font-variant: small-caps;
}

.textfeat{font-size: 18px;
    margin-bottom: 20px;
    max-width: 100%;
    margin: 0 auto;
}

hr{
    width: 30%;
    margin: 0 auto;

    margin-bottom: 10px;

}

.tel{
   
    display: flex;
}
.left{
 
    flex: 1;
    text-align: left;
    max-width: 100%;
    margin: 0 auto;
      
}
.droite{

    flex: 1;
    text-align: left;
    padding: 5px;
  
    
}

.imagetel{

    
    max-width: 100%;
    margin: 0 auto;
}
.fast {
  
    padding:10px ;
    display: flex;
    margin: 40px 0 50px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
 
}



.Low {
   
    padding: 10px;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.Wifi{
   
    padding: 10px;
    display: flex;
    position: relative;
    max-width: 100%;
    margin: 0 auto;
}

.Regular{
 
    padding: 10px;
    display: flex;
    margin: 40px 0 50px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}
.save{
 
    padding: 10px;
    display: flex;
    margin-bottom: 50px;
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}
.Unlimited{
   
    padding: 10px;
    display: flex;
    position: relative;
    max-width: 100%;
    margin: 0 auto;

}
.icoleft{
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 80%;
    border: 1px solid red;
    border-radius: 50%;
    padding: 12px;
}

.icodroite{
    font-size: 30px;
    position: absolute;
    top: 20%;
    left: 80%;
    border: 1px solid red;
    border-radius: 50%;
    padding: 12px;
    position: absolute;
    top: 20%;
    left: 5%;
    max-width: 100%;
    margin: 0 auto;


}

.parfast,.parlow,.parwifi,.parregulaire1,.parsave1,.parunt1 {
    width: 70%;
    
}

.parfast,.parlow,.parwifi{
    text-align: right;
   
}
.parregulaire1,.parsave1,.parunt1{
    margin-left: 80px;
    
}

.imagetel img{
    max-width: 100%;
    margin: 0 auto;
}

@media (max-width:768px){
    
    
    .tel{
        flex-direction: column
    }

    img{
        max-width: 100%;
        margin: 0 auto;
    }

}

/* TEAM */
#team {
   
   scroll-margin-top: 40px;
   
   margin: 10px 10px;


}

.item {
    display: flex;
    gap: 10px;
    padding: 20px 20px;
    text-align: center;


}

.item h4 {
    font-size: 20px;
    color: #8e1efc;
}
.item p{
    font-size: 18px;
}

.teamtext {
    text-align: center;
    margin: 100px 0 50px;

}
.teamtext h1 {
    font-size:50px;
}

.teamtext p {
    margin: 0 50px;
    
}

/* faq */

 #faq{
    scroll-margin-top: 100px;
    border: 1px solid black;
    margin: 10px 10px;
    padding: 10px;
 }   


.frequency{
    text-align: center;
    margin-top: 150px;
}
.leftright{
    
    display: flex;
    gap: 30px;
    margin-top: 50px;
    padding: 20px;
    
}
.divleft,.divright{
    flex: 1;
}

.div1,.div2,.div3{
    margin-bottom: 80px;
}

.div1 p,.div2 p,.div3 p{

    font-size: 18px;
}
.divleft h4,.divright h4{
    font-size: 22px;
    color:#8e1efc;
}

@media (max-width:768px){
    .leftright {
        flex-direction: column;
    }
    .div1,.div2,.div3{
        margin-bottom: 40px;
    }
    #team,#about,#features,#faq{
        scroll-margin-top: 240px;
    }

}

/* footer */
footer{
    height: 150px;
    text-align: centre;
    color: white;
    background-color: gray;
}